p {
	padding: 15px;
	font-size: 1.2em;
}

#app {
	font-size: 1.2em;
}

.uppercase {
	text-transform: uppercase;
}

.result {
	padding-left: 50px;
	word-wrap: break-word;
}

.hide {
	display: none;
}

.select-label a {
	font-size: 1.2em;
}

.encryption-form {
	text-align: center;
}
